<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="row" style="margin-top: 50px;" id="cell-1">
            <div class="col-md-1">
                <p id="cell-num" class="code_symbol">[1]</p>
            </div>
            <div id="div-1" class="col-md-11">
                <div class="btn-group-horizontal">
                    <button type="button" id="run_div-1" class="btn btn-sm btn-success run"><i
                            class="fas fa-play"></i>Run</button>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" id="add_code_down_btn-1" class="btn btn-info add-code">
                            <i class="fas fa-sort-down" style="margin-top: -10px;"></i> Code
                        </button>
                        <button type="button" id="add_code_up_btn-1" class="btn btn-sm btn-info add-code">
                            <i class="fas fa-sort-up"></i> Code
                        </button>
                       
                    </div>

                    <div class="btn-group" role="group" aria-label="Basic example">
                       
                        <button type="button" id="add_text_down_btn-1" class="btn btn-sm btn-info add-text">
                            <i class="fas fa-sort-down" style="margin-top: -10px;"></i> Text
                        </button>
                         <button type="button" id="add_text_up_btn-1" class="btn btn-sm btn-info add-text">
                            <i class="fas fa-sort-up"></i> Text
                        </button>
                    </div>

                    <button type="button" id="del_btn-1" class="btn btn-sm btn-danger del"><i
                            class="fas fa-trash-alt"></i>
                        Delete</button>
                </div>

            </div>
            <div class="col-md-1"></div>
            <div id="out_div-1" class="col-md-10 out-divs">
            </div>

        </div>
    <div id="ploty"></div>
    </div>
   



</body>

</html>
