<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="">About Dnotebook</h1>
                    <p class="">
                        Danfo Notebook (Dnotebook) is an open-source project, born out of the need to perform quick and
                        interactive experimentation/prototyping with <a href="https://danfo.jsdata.org/">Danfo.js</a>.
                        DNotebook is a similar to the popular <a href="https://jupyter.org/">Jupyter Notebook</a>
                        but is customized for the JavaScript environment. Dnotebook is part of our grand vision at
                        <a href="https://github.com/opensource9ja">JSdata</a> to bring more Data Science and Machine
                        Learning tools to the JavaScript ecosystem.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img style="width: 400px; height: 300px; border-radius: 100px;" src="images/dnotebook.png" />
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <h3> What can it be used for?</h3>
            <p>
                DNotebook allows you to create and share pages that contain live code, text and visualizations in textbook-like manner. 
            </p>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">Data Science/Analysis</h5>
                            <p class="card-text">Easily perform interactive data exploration and analysis using efficient JavaScript
                                packages like Danfo.js. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                   
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">Machine Learning</h5>
                            <p class="card-text">Easily build, train and prototype machine learning models using different tools like Tensorflow.js</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                   
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">Learning JavaScript Interactively</h5>
                            <p class="card-text">Learn/teach JavaScript in an interactive/visual style. This can hasten learning and understanding.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                   
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">Plain Experimentation/Prototype</h5>
                            <p class="card-text">Any experimentation performed in JavaScript can run on Dnotebooks. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-8">
            <h3> Creators and Core Maintainers</h3>

            <p class="">
                Dnotebooks was created by <a href="https://twitter.com/risingodegua">Rising Odegua</a> and <a href="https://twitter.com/steveoni">Stephen Oni</a>. It is actively maintained by them as
                well. If you're looking to contribute to making it better, you can raise issues here.

                Dnotebook is hosted on <a href="https://github.com/opensource9ja/notebookjs">GitHub</a>.
            </p>
        </div>
    </div>
</div>