{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="images/error.png"/>
        </div>
    </div>
</div>
