body {
  font: 8px
}

a {
  color: #00B7FF;
}

.content{
  padding: 20px;
  margin-left: 10px; 
  margin-right: 10px;
}

.out-divs{
  padding: 20px;
}

.code_symbol{
  margin-left: 40px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  padding: 10px;
}

.mdCell {
  height: auto;
}

.out-divs{
  height: auto;
}

.text-box{
  width: 100%;
  padding: 5px;
}
.text-out-box{
  width: 100%;
  padding: 5px;
  margin-left: 139px;

}


.inputfileholder {
  overflow: hidden;
  max-width: 200px;
  height: 21px;
  position: relative
}

.inputfileholder .inputfile {
  position: absolute;
  left: -90px;
  outline: none;
}

table.df-table {
  white-space: pre;
}

table.df-table th, td {
  padding: 2px 5px;
  font-variant-numeric: tabular-nums;
}

table.df-table .float32, .int32 {
  text-align: right;
}

.gs-out-imgs{
  width: 100%;
  height: 600px;
}