body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container{
  padding: 20px;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
}

.out-divs{
  padding: 20px;
}

.code_symbol{
  margin-left: 40px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  padding: 10px;
}

.mdCell {
  height: auto;
}

.out-divs{
  height: auto;
}

.text-box{
  width: 100%;
  padding: 5px;
}
.text-out-box{
  width: 100%;
  padding: 5px;
  margin-left: 139px;

}
